<p>
  Mi nombre es Ulises Ruiz pero mis amigos me conocen como Tepo O Supertepo
  dependiendo. Empece en la programacion o en general con el tema informtatico
  en la primaria al tener computadoras en mi casa 
</p>
<p>
  Ya cuando descrubi realmente mi amor por esto fue en la secuandira en mi
  taller aunque realmente solo me ense;aron lo de ofimatica yo queria aprender
  mas
</p>
<p></p>
