<section class="flex gap-x-4">
  <div class="[&>p]:mb-4 [&>p>strong]:text-red-600 [&>p>strong]:font-semibold">
    <p>
      Mi nombre es Ulises Ruiz pero mis amigos me conocen como Tepo. Empece en
      el mundo de la informatica en la secuandaria con el taller que me toco en
      segundo año,aunque solo veiamos cosas de ofimatica me encanto.
    </p>
    <p>
      Cuando tuve contacto con la programacion fue en el CECyT 13. Uno de los
      proyectos que tuve en mi servicio social fue <strong
        >agilizar la inscripcion de los alumnos con su tutor
        individual(Tutorexpress)</strong
      >,se logro cumplir el requrimiento,aunque no se haya desplegado
    </p>
  </div>
</section>
